*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input {
    all: unset;
    field-sizing: content;
}
input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input::placeholder {
    color: var(--white);
}


html {
    font-family: system-ui, -apple-system, sans-serif;
    background: rgb(10, 10, 10);
    color: white;


    --blur-reg: blur(5px);
    --blur-strong: blur(10px);

    --radius-pill: 9999px;
    --radius-reg: 2em;

    --transition: 0.4s ease;

    --space-xxxs: .125em;
    --space-xxs: .25em;
    --space-xs: .5em;
    --space-s: 1em;
    --space-m: 2em;

    
    --white: white;
    --white-subtle: rgb(255 255 255 / 0.5);
    --white-faint: rgb(255 255 255 / 0.25);
    
    --black: black;
    --balck-subtle: rgb(0 0 0 / 0.75);

    --subtle: 0.5;
    --visible: 1;

    --glass-shadow: inset 1px -1px 0px 0px rgb(0 0 0 / 40%),
                    inset -1px 1px 0px 0px rgb(0 0 0 / 40%),
                    inset 1px 1px 0px 0px rgb(255 255 255 / 40%),
                    inset -1px -1px 0px 0px rgb(255 255 255 / 20%),
                    inset 5px 5px 10px 0px rgb(0 0 0 / 50%),
                    inset -5px -5px 20px 0px rgb(255 255 255 / 10%);
}
main {
    width: min(60em, 90%);
    margin-inline: auto;
}
/* === Toolbar === */
.toolbar {
    display: flex;
    margin-inline: auto;
    position: sticky;
    top: var(--space-s);
    margin-block: var(--space-s);
    max-width: fit-content;

    border-radius: var(--radius-pill);
    background: var(--balck-subtle);
    backdrop-filter: var(--blur-strong);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 75%);

    z-index: 9999;
    transition: var(--transition);
}
.tool {
    display: flex;
    height: var(--space-m);
    align-items: center;
    border-radius: inherit;
    margin: var(--space-xxs);
    padding: var(--space-xs);

    box-shadow: var(--glass-shadow)
}
.values {
    display: flex;
    gap: var(--space-xxs);
}
.tool.hasValue .label,
.tool.hasIcon .label {
    margin-left: var(--space-xxs);
}
.icon {
    padding: var(--space-xxxs);
    height: 100%;
    aspect-ratio: 1 / 1;
}
.icon path {
    fill: white;
    stroke: white;
}
.toolbar hr {
    width: 2px;
    border: none;
    box-shadow: var(--glass-shadow);
    margin: var(--space-xs);
}
/* === Collapse Behaviour === */
.tool, .icon, .label {
    max-width: fit-content;
    overflow: hidden;
    transition: inherit;
    interpolate-size: allow-keywords;
}
.toolbar:not(:hover) .tool:not(.hasValue):not(.hasInput),

.tool:not(:hover).hasValue:not(.hasInput) .label,
.tool:not(:hover).hasIcon:not(.hasInput) .label,

.toolbar:not(:hover) .tool:not(.hasInput) .icon {
    max-width: 0;
    margin-inline: 0;
    padding-inline: 0;
    opacity: .5;
}

/* === Grid === */
.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr)); /* never shorter than 12em */
    justify-items: center;
    gap: var(--space-s);
}
.anime-card {
    padding: var(--space-xs);
    display: flex;
    position: relative;
    width: 100%;
    max-width: 18em;
    aspect-ratio: 5 / 7;
    overflow: hidden;
    border-radius: var(--radius-reg);

    background: linear-gradient(transparent 50%, black);
    box-shadow: var(--glass-shadow)
}
.details {
    width: 100%;
    backdrop-filter: var(--blur-reg);
    border-radius: inherit;
    margin-top: auto;
    padding: var(--space-s);
    padding-bottom: 0; /* No btm padding */

    box-shadow: var(--glass-shadow);
    
    transition: var(--transition);
    overflow: hidden;
}
.title {
    margin-bottom: var(--space-s); /* Simulates padding */
}
.cover {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}